.scluster{
    border-radius: 15px;
    height:100%;
    width:100%;
    text-align: center;
    font-size: large;
}
                
.scluster-pop{
     position : absolute;
     top : 5%;
     left : 50%;
              
     padding : 10px;
     width : 200px;
                   
     font-size: 10px;
     text-align : left;
     background: white;
     -moz-box-shadow: 0 0 5px 5px #888;-webkit-box-shadow: 0 0 5px 5px#888;box-shadow: 0 0 5px 5px #888;
     -moz-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;
     color: black;
}