.slideable {
	position: absolute;
	color: #fff;
}

.slideable.top {
	height: 200px;
	height: 40%;
	border-bottom: solid 1px #f00;
}

.slideable.right {
	right: 0;
	left:auto;
	min-width: 30px;
}

.slideable.bottom {
	top: auto;
	bottom: 0;
	height: 200px;
	height: 40%;
}

.slideable.left {
	width: 600px;
}

.grabber.left{
	padding-left:-30px;
	background:orange;
	border-radius: 0px 10px 10px 0px;
}
.grabber.right{
	padding-left:-30px; 
	height:64px;
	width: 30px;
	background:orange;
	border-radius: 10px 0px 0px 10px;
}

.notif-task-layout{
	height: 64px;
	background: #333;
}

.notif-task{
	margin-bottom: 10px;
	padding:3px;
}

.task.name{ width: 250px; }
.task.progress{ width: 150px;height: 30px; }
.task.status{ text-transform: uppercase; }
.task.message{ font-style: italic;font-size: 14px; }

