
.survey{ background: #EEEEEE; }

.survey-head{ 

	 background: white; 
	 color: rgb(255,69,0);
	 text-align:right;
	 border: none;
	 padding-right: 10px;


 }
.survey-description{
	background: white;
	color: #555;
	font-size: 15px;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
	border: solid;
	border-width: 0 0 1px 0;
	padding: 10px 0 10px 10px;
	margin-bottom: 30px;	
}

.popup-error{ margin-left: 50%; }

/* specific css for smartphone */
@media screen and (max-width: 400px) { 

	.survey-content{width: 100%;height: 55%;}   
	.survey-bottom-button{ min-width: 100px;margin-bottom: 10px; height: 40px; }
}

/* specific css for other devices */
@media screen and (min-width: 400px) { 

	.survey-content{width: 100%;height: 500px;} 
	.survey-bottom-button{ min-width: 200px;margin-bottom: 10px; height: 40px; }
}

.survey-progess{
	margin-left: auto;margin-right: auto;
	height: 40px;
	width: 80%;
}

.survey-bottom{text-align: center;}



.survey-form-element-label{
	color: #F49200;
	text-transform: uppercase;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 10px;
}

.survey-form-element{

	margin-left: 15px;
	margin-bottom: 20px;
}

.survey-form-text{

	margin-left: 15px;
	margin-bottom: 25px;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
}

.survey-radio{
	width: 1px;
}

.survey-edit{ }

.survey-radio-element{
	width: 200px;
	padding-left: 50px;
	margin-bottom: 10px;
	font-weight: bold;
}

.survey-slider-label{ margin-left: 15px;margin-bottom: 10px;  min-width: 100px; }
.survey-slider{ }

.survey-picture{ text-align: center;}
.survey-picture-overview{width:200px;height:200px; border : solid;}
.survey-picture-button{  }

.survey-sound{text-align: center;}
.survey-sound-layout{}
.survey-sound-button{}

.survey-video{ text-align: center; }
.survey-video-button{ margin-top: 10px; }
.survey-video-layout{ }
.survey-video-overview{}
