.masonry,


.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


.masonry-brick {

  width: 50px;
	height: 150px;
  margin : 10px;

  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  background: white;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  font-weight: 300;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}

/* Portrait */
@media screen and (orientation:portrait) {
    .masonry-brick { 
      width: 95%;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .masonry-brick { 
      width: 45%;
    }
}


.masonry-brick:hover { background: #01BCF9; }

.thumb-title{ 

  padding-top: 10px;
  padding-left: 10px;
  color: #333;
  font-size: 16px;
  white-space: nowrap;
}

.thumb-subtitle{ 
  color: #aaa;
   padding-left: 10px;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  margin: 1px 0;
  overflow: hidden;
  white-space: nowrap;
}

.thumb-description{
  color: #aaa;
  width: 100%;

  text-align: left;
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.thumb-icon{
  padding: 10px;
  position: relative;
  max-width: 75px;
  max-height : 75px;
}

.thumb-read{ background: #EEEEEE; } */