.masonry,


.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: width, height;
     -moz-transition-property: width, height;
      -ms-transition-property: width, height;
       -o-transition-property: width, height;
          transition-property: width, height;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}



.masonry-brick {

	min-width: 500px;
  max-width: 700px;
  height: 250px;
  margin : 10px;

  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  background: white;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  font-weight: 300;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  
}

.masonry-brick:hover {  }



.thumb-header{

  border-bottom: 1px solid gray;
  padding-bottom: 3px;

}
.thumb-button{ background: none;width: 30px;padding:5px;margin-left: 5px; }
.thumb-name{    
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
}

.thumb-menu{ padding:2px; right:0px;position:absolute;}


.thumb-started{background-color:#e7d785;background-image:-moz-linear-gradient(top, #fffeb8, #c49c38);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fffeb8), to(#c49c38));background-image:-webkit-linear-gradient(top, #fffeb8, #c49c38);background-image:-o-linear-gradient(top, #fffeb8, #c49c38);background-image:linear-gradient(to bottom, #fffeb8, #c49c38);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffeb8', endColorstr='#ffc49c38', GradientType=0);}
.thumb-stopped{background: none;}

.thumb-remoteStopped{background: #E5E5E5}

.thumb-finished{}

.thumb-bottom{
  text-align: center; 
  border-top: 1px solid gray;
  padding : 5px;
  color: #444;
}

.thumb-nochart{ padding-top: 50px;text-align: center; font-size: 30px; font-weight: bolder; }

.thumb-chart{
  width: 100%;
  height: 160px;
}
