/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.onyx-sample-divider {
  color: #F49200;
  text-transform: uppercase;
  font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.slideable-sample {
        
        background-color: #333;
        color: #fff;
}

.slideable-sample.top {
        height: 200px;
        height: 40%;
        border-bottom: solid 1px #f00;
}

.slideable-sample.right {
        right: 0;
        left: auto;
        width: 200px;
        width: 40%;
        border-left: solid 1px #ff0;
}

.slideable-sample.bottom {
        top: auto;
        bottom: 0;
        height: 200px;
        height: 40%;
        border-top: solid 1px #fff;
}

.black, .black a {
  color: black;
}

.toolbar{

     background: transparent;
     height:40px;
     padding:0;
     border : none;
}

.toolbar-button{
    
    background:transparent  ! IMPORTANT ;
    color : black ! IMPORTANT ;
    height:40px;
    padding:3px;
    margin : 5px;
    border : none;

}
.toolbar-icon-text{
   font-size:12px;
   border:none;
   color:black;
   margin-left : 5px;
   float:right
}

.apisense-modal{
  color: black;
  background: white;
  padding: 0;
}
.apisense-modal-header { 

  color: #F49200;
  text-transform: uppercase;
  font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  padding : 15px;
}
.apisense-modal-content{ padding: 10px;}
.apisense-modal-bottom { background : grey;}

.apisense-console-up{ height:70%; }
.apisense-console-down{ height:20%; }

.apisense-tree{  min-width: 20%; border : 1px solid grey;margin-right: 2px; background:white;}

.apisense-container{  min-width: 80%;background: white; border : 1px solid grey;margin-left: 2px; }
.apisense-container-bar{}
.apisense-container-panel{ height:100%;width: 100%;}



.fullScreen .fullScreen-editor{ 
    height: auto!important;
    width: 1000px!important;
    border: 0;
    margin: 0;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200000
}

  .fullScreen {
    overflow: hidden
  }