<div id="info"></div>

<div id="map" style="height: 500px;"></div>

<script>

var map = undefined;
    lobjects = [];

var onEvent = function(){
    
    $("#info").empty();
    lobjects.forEach(function(o){
        map.removeLayer(o);    
    });
     
    var place = JSON.parse($view.virtualSensor());
    
    for (var i in place){
        $("#info").append("<strong>"+i+"</strong> = "+JSON.stringify(place[i])+"<br/>");    
    }
    
    var position = place["lastLocation"]
    var positionCircle = L.circle([position.lat,position.lon],position.acc, {
      color: "yellow",
      fillColor: "yellow",
      fillOpacity: 0.5
    })
    positionCircle.addTo(map).bindPopup("current Position");
    map.setView(new L.LatLng(position.lat,position.lon),12);
    lobjects.push(positionCircle);
    
    // set position to compare static mode
    var lastPosition = place["baseLocation"]
    $("#info").append("<strong>Base Location red</strong>");
    var lastPositionCircle = L.circle([lastPosition.lat,lastPosition.lon],lastPosition.acc, {
      color: "red",
      fillColor: "red",
      fillOpacity: 0.5
    });
    lastPositionCircle.addTo(map).bindPopup("Last Position");
    lobjects.push(lastPositionCircle);
    
    for (var i in place.vs){
        
       var rects = drawRect(place.vs[i]);
       
       rects.forEach(function(rect){
           rect.addTo(map);
           lobjects.push(rect);
       })
    } 
    
   
    
    var queryResult = JSON.parse($db.apisense("FingerPrintTable",""))
    if (queryResult.error){
    
      alert(queryResult.error)
        return;
    }
    var points = []
    
    var datas = queryResult.data;
    for (var i in datas){
    
        var data = datas[i]
        var point = [data.lat,data.lon];
        points.push(point);
      
      var circle = L.circle(point,data.accuracy, {
        color: "#000",
        fillColor: "#000",
        fillOpacity: 0.5
        }).addTo(map).bindPopup(data.placeid);
        lobjects.push(circle);
    }
    
    
}

$(function(){
     
     // create a map in the "map" div, set the view to a given place and zoom
   map = L.map('map').setView([0,0], 13);
  
   // add an OpenStreetMap tile layer
   L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map);
     
     $apisense.subscribe("VirtualSensorUpdateEvent","onEvent");
     
     onEvent();
});
    
</script>